@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  -ms-overflow-style: none;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}




@theme {
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 130rem;

}

/* CUSTOM TAILWIND CLASSES */
.px-max {
  @apply px-3 sm:px-6 md:px-8 lg:px-9 xl:px-16 2xl:px-20;
}

.pl-max {
  @apply pl-4 sm:pl-6 md:pl-8 lg:pl-9 xl:px-16 2xl:pl-20;
}

.text-heading {
  @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl 2xl:text-[5rem] font-bold;
}

/* AuroraText */
@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    to {
      background-position: 0% 0%;
    }
  }
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.5px #2b7fff;
  }

  .font-outline-2 {
    -webkit-text-stroke: 1px #2b7fff;
  }

  .font-outline-4 {
    -webkit-text-stroke: 2px #2b7fff;
  }
}